@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto-Regular.woff2");
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Roboto-Bold.woff2");
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Roboto-BoldItalic.woff2");
  src: url("/fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("/fonts/Roboto-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Roboto-RegularItalic.woff2");
  src: url("/fonts/Roboto-RegularItalic.woff2") format("woff2"),
    url("/fonts/Roboto-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Montserrat-Regular.woff2");
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat-Medium.woff2");
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Montserrat-Bold.woff2");
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
}
